In [2]:
import csv

In [3]:
import numpy as np

In [4]:
data = []

with open(r"MER_T07_02A-2020-02-03.csv","r")as csvfile:
    file_reader = csv.reader(csvfile, delimiter=',')
    for row in file_reader:
        data.append(row)
        
data = np.array(data)

In [5]:
print(data)

[['MSN' 'YYYYMM' 'Value' 'Column_Order' 'Description' 'Unit']
 ['CLETPUS' '194913' '135451.32' '1'
  'Electricity Net Generation From Coal, All Sectors'
  'Million Kilowatthours']
 ['CLETPUS' '195013' '154519.994' '1'
  'Electricity Net Generation From Coal, All Sectors'
  'Million Kilowatthours']
 ...
 ['ELETPUS' '201908' '401363.186' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']
 ['ELETPUS' '201909' '359300.603' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']
 ['ELETPUS' '201910' '321921.812' '13'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']]

In [6]:
print(data.ndim)

2

In [7]:
data.shape

(8217, 6)

In [8]:
data.dtype

dtype('<U80')

In [9]:
#ques2
data[3:4,:10]

array([['CLETPUS', '195113', '185203.657', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours']], dtype='<U80')

In [10]:
#ques3
data[:1]

array([['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit']],
      dtype='<U80')

In [11]:
#ques4
data[:20,2:4]

array([['Value', 'Column_Order'],
       ['135451.32', '1'],
       ['154519.994', '1'],
       ['185203.657', '1'],
       ['195436.666', '1'],
       ['218846.325', '1'],
       ['239145.966', '1'],
       ['301362.698', '1'],
       ['338503.484', '1'],
       ['346386.207', '1'],
       ['344365.781', '1'],
       ['378424.21', '1'],
       ['403067.357', '1'],
       ['421870.669', '1'],
       ['450249.238', '1'],
       ['493926.719', '1'],
       ['526230.019', '1'],
       ['570925.951', '1'],
       ['613474.8', '1'],
       ['630483.363', '1']], dtype='<U80')

In [12]:
#ques5
start_row = data[:3,:]
end_row = data[-4:-1,:]

result = np.concatenate((start_row,end_row))
result

array([['MSN', 'YYYYMM', 'Value', 'Column_Order', 'Description', 'Unit'],
       ['CLETPUS', '194913', '135451.32', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours'],
       ['CLETPUS', '195013', '154519.994', '1',
        'Electricity Net Generation From Coal, All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '201907', '411583.828', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '201908', '401363.186', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours'],
       ['ELETPUS', '201909', '359300.603', '13',
        'Electricity Net Generation Total (including from sources not shown), All Sectors',
        'Million Kilowatthours']], dtype='<U80')

In [13]:
#ques6
sorted = np.sort(data)
print(sorted)

[['Column_Order' 'Description' 'MSN' 'Unit' 'Value' 'YYYYMM']
 ['1' '135451.32' '194913' 'CLETPUS'
  'Electricity Net Generation From Coal, All Sectors'
  'Million Kilowatthours']
 ['1' '154519.994' '195013' 'CLETPUS'
  'Electricity Net Generation From Coal, All Sectors'
  'Million Kilowatthours']
 ...
 ['13' '201908' '401363.186' 'ELETPUS'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']
 ['13' '201909' '359300.603' 'ELETPUS'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']
 ['13' '201910' '321921.812' 'ELETPUS'
  'Electricity Net Generation Total (including from sources not shown), All Sectors'
  'Million Kilowatthours']]

In [14]:
#ques8
source = data[:,:1]
np.unique(source)

array(['CLETPUS', 'ELETPUS', 'GEETPUS', 'HPETPUS', 'HVETPUS', 'MSN',
       'NGETPUS', 'NUETPUS', 'OJETPUS', 'PAETPUS', 'SOETPUS', 'WDETPUS',
       'WSETPUS', 'WYETPUS'], dtype='<U80')

In [15]:
#ques9
coal= data[1:632]

In [16]:
#ques10
value = data[1:,2:3]
numeric_values = []
for i in value:
    try:
        numeric_values.append(float(i[0]))
    except ValueError:
        pass
sum_of_values = np.sum(numeric_values)
sum_of_values

642969289.517

In [17]:
#ques11

In [18]:
#ques12
max_energy = np.max(numeric_values)
np.where(max_energy) in data

C:\Users\khush\AppData\Local\Temp\ipykernel_27096\85106103.py:3: DeprecationWarning: Calling nonzero on 0d arrays is deprecated, as it behaves surprisingly. Use `atleast_1d(arr).nonzero()` if the old behavior was intended.
  np.where(max_energy) in data

False

In [19]:
#ques15
source = data[:,:1]
unique_source = source[1:]
print(f"CLETPUS {np.count_nonzero(unique_source == 'CLETPUS')}")
print(f"ELETPUS {np.count_nonzero(unique_source == 'ELETPUS')}")
print(f"GEETPUS {np.count_nonzero(unique_source == 'GEETPUS')}")
print(f"HPETPUS {np.count_nonzero(unique_source == 'HPETPUS')}")
print(f"HVETPUS {np.count_nonzero(unique_source == 'HVETPUS')}")
print(f"NGETPUS {np.count_nonzero(unique_source == 'NGETPUS')}")
print(f"NUETPUS {np.count_nonzero(unique_source == 'NUETPUS')}")
print(f"OJETPUS {np.count_nonzero(unique_source == 'OJETPUS')}")
print(f"PAETPUS {np.count_nonzero(unique_source == 'PAETPUS')}")
print(f"SOETPUS {np.count_nonzero(unique_source == 'SOETPUS')}")
print(f"WDETPUS {np.count_nonzero(unique_source == 'WDETPUS')}")
print(f"WSETPUS {np.count_nonzero(unique_source == 'WSETPUS')}")
print(f"WYETPUS {np.count_nonzero(unique_source == 'WYETPUS')}")

CLETPUS 632
ELETPUS 632
GEETPUS 632
HPETPUS 632
HVETPUS 632
NGETPUS 632
NUETPUS 632
OJETPUS 632
PAETPUS 632
SOETPUS 632
WDETPUS 632
WSETPUS 632
WYETPUS 632

In [26]:
column_order = data[:,:]
np.where(column_order=='2')

(array([ 633,  634,  635,  636,  637,  638,  639,  640,  641,  642,  643,
         644,  645,  646,  647,  648,  649,  650,  651,  652,  653,  654,
         655,  656,  657,  658,  659,  660,  661,  662,  663,  664,  665,
         666,  667,  668,  669,  670,  671,  672,  673,  674,  675,  676,
         677,  678,  679,  680,  681,  682,  683,  684,  685,  686,  687,
         688,  689,  690,  691,  692,  693,  694,  695,  696,  697,  698,
         699,  700,  701,  702,  703,  704,  705,  706,  707,  708,  709,
         710,  711,  712,  713,  714,  715,  716,  717,  718,  719,  720,
         721,  722,  723,  724,  725,  726,  727,  728,  729,  730,  731,
         732,  733,  734,  735,  736,  737,  738,  739,  740,  741,  742,
         743,  744,  745,  746,  747,  748,  749,  750,  751,  752,  753,
         754,  755,  756,  757,  758,  759,  760,  761,  762,  763,  764,
         765,  766,  767,  768,  769,  770,  771,  772,  773,  774,  775,
         776,  777,  778,  779,  780,  781,  782,  783,  784,  785,  786,
         787,  788,  789,  790,  791,  792,  793,  794,  795,  796,  797,
         798,  799,  800,  801,  802,  803,  804,  805,  806,  807,  808,
         809,  810,  811,  812,  813,  814,  815,  816,  817,  818,  819,
         820,  821,  822,  823,  824,  825,  826,  827,  828,  829,  830,
         831,  832,  833,  834,  835,  836,  837,  838,  839,  840,  841,
         842,  843,  844,  845,  846,  847,  848,  849,  850,  851,  852,
         853,  854,  855,  856,  857,  858,  859,  860,  861,  862,  863,
         864,  865,  866,  867,  868,  869,  870,  871,  872,  873,  874,
         875,  876,  877,  878,  879,  880,  881,  882,  883,  884,  885,
         886,  887,  888,  889,  890,  891,  892,  893,  894,  895,  896,
         897,  898,  899,  900,  901,  902,  903,  904,  905,  906,  907,
         908,  909,  910,  911,  912,  913,  914,  915,  916,  917,  918,
         919,  920,  921,  922,  923,  924,  925,  926,  927,  928,  929,
         930,  931,  932,  933,  934,  935,  936,  937,  938,  939,  940,
         941,  942,  943,  944,  945,  946,  947,  948,  949,  950,  951,
         952,  953,  954,  955,  956,  957,  958,  959,  960,  961,  962,
         963,  964,  965,  966,  967,  968,  969,  970,  971,  972,  973,
         974,  975,  976,  977,  978,  979,  980,  981,  982,  983,  984,
         985,  986,  987,  988,  989,  990,  991,  992,  993,  994,  995,
         996,  997,  998,  999, 1000, 1001, 1002, 1003, 1004, 1005, 1006,
        1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017,
        1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028,
        1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039,
        1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050,
        1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061,
        1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072,
        1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083,
        1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094,
        1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105,
        1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116,
        1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127,
        1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138,
        1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149,
        1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160,
        1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171,
        1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182,
        1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193,
        1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204,
        1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215,
        1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226,
        1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237,
        1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248,
        1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259,
        1260, 1261, 1262, 1263, 1264], dtype=int64),
 array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
        3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], dtype=int64))